.listContainer {
  width: 100%;
  background-color: #212121;
  margin: 0;
  padding-bottom: 0;
  position: fixed;
  z-index: 1;
}

.listItem :global(.vtex-button) {
  background: transparent;
  align-content: flex-end;
  color: #fff;
  border: none;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 1.75;
  white-space: normal;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.875rem;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.listItemActive :global(.vtex-button__label) {
  color: #59ff00;
  border: none;
  border-radius: 0;
  border-bottom: thin solid #59ff00;
}
/* .contentItem {
  max-width: 40%;
  margin: 0 auto;
  padding: 0;
  margin-top: 30px;
} */
